*{
font-family:all;
}
.nav-color{
background-color:#fa4474;
}
.text-color{
color:#000000;
}
.btn-bg{
background-color:#fa4474;
border-color:#fa4474;
color:#000000;
}

.btn-bg:hover{
background-color:#000000;
color:#fa4474;
transition:1.5s;
border-color:#000000;
}
.h3{
color:#000000;
}
.h3:hover{
color:#fa4474;
transition:1.5s;
}
.cover{
background: url('/media/background3.jpg');
background-position:center;
background-size:cover;
height:100vh;
}
