{% extends 'blog/base.html' %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<!--- Main Content Start --->
<div class="container ">
    <div class="row mt-4 py-2">
        <div class="col-md-8 offset-md-2">
            <div class="card my-2 shadow">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <img src="{{post.author.profilemodel.image.url}}"  alt="Profile-image" class="img-thumbnail">
                        </div>
                        <div class="col-md-8">
                            <small>{{post.date_create}}</small>
                            {% if post.author == request.user %}
                            <span><a href="{% url 'post-delete' post.id %}" class="btn fw-bolder btn-sm btn-bg float-end ">Delete</a></span>
                            <span><a href="{% url 'post-edit' post.id %}" class="btn fw-bolder btn-sm btn-bg float-end mx-2">Edit</a></span>
                            {% endif %}
                            <hr>
                            <h4 class="h3 fw-bolder">{{post.title}}</h4>
                            <p>{{post.content}}</p>
                        </div>
                    </div>

                    <p>
  <a class="fw-bold"  data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="color:#fa4474">
    Comments: {{post.comments_count}}
  </a>
</p>
<div class="collapse overflow-scroll" id="collapseExample" style="height: 240px;">
  <div class="card card-body">
     {% for comments in post.comments %}
          <p class="text-justify mb-3"><strong class="text-capitalize" style="color:#fa4474">{{comments.user}}: </strong> {{comments.content}}</p>
        {% endfor %}
  </div>
</div>

<form method="post" class="mt-3 fw-bolder">{% csrf_token %}
          {{comment_form|crispy}}
              <input type="submit" value="Add Comment" class="btn btn-sm btn-bg fw-bolder fst-italic col-3 mt-2">
          </form>
                </div>

            </div>
        </div>

    </div>
</div>
<!--- Main Content close --->
{% endblock content %}