{% extends 'blog/base.html' %}
{% block title %}Login | Post Scribers{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<!--- Main Content Start --->
<div class="cover">
<div class="container">
    <div class="row  py-2">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card my-2 shadow">
                <div class="card-body fst-italic fw-bolder">
                    <h4 class="fw-bolder">Login Page</h4>
                    <hr>
                    <form  method="post">{% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" value="Login" class="btn btn-bg fw-bolder fst-italic shadow btn-dark col-12 mt-2">
                    </form>
                    <hr>

                    <div class="text-center my-2">
                            <a href="{% url 'sign-up' %}" class="btn btn-success fw-bolder fst-italic btn-bg mx-center">Create An Account</a>
                    </div>                </div>
            </div>

        </div>

    </div>
</div>
</div>
<!--- Main Content close --->
{% endblock content %}